body {
    font-family: Arial, sans-serif;
    background: #f6f9fc;
    padding: 30px;
    color: #333;
    background-image: url("BG5.jpg");
    background-color: #cccccc;
    background-size: cover; /* или contain */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* по избор */
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: hsl(200, 95%, 45%);
    color: rgb(40, 50, 250);
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: all 0.4s ease;
}

button:hover {
    background: #0056b3;
}

pre {
    background: #eef;
    padding: 15px;
    border-radius: 6px;
}

h1 {
    text-align:center;
}

nav {
    text-align: center;
    background-color: #1656d7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;        /* премахва булетите */
    padding: 0;
    margin: 0;
    display: flex;           /* прави елементите хоризонтални */
    justify-content: center; /* центрира ги хоризонтално */
    gap: 20px;               /* разстояние между бутоните */
}

nav li {
    display: inline;         /* осигурява хоризонтално подреждане */
}

nav a {
    text-decoration: none;
    color: #fcfdfd;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #704af8;
    color: rgb(162, 204, 252);
}


form {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid rgb(10, 134, 10);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center; 
    gap: 15px; 
}